.ant-tree .ant-tree-node-content-wrapper {
  margin-left: -10px;
}

.ant-tree-title {
  margin-left: 5px;
}

.ant-typography,
.ant-tree {
  color: rgb(255, 255, 255, 0.85);
}

.ant-tabs-bar {
  margin: 0;
  border-bottom: 0;
}

.ant-tabs .ant-tabs-top-content.ant-tabs-content-animated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  color: rgb(255, 255, 255, 0.95);
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: rgb(255, 255, 255, 90);
}

.ant-tabs-nav .ant-tabs-tab .anticon {
  margin-right: 5px;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: #fff;
}

.ant-tabs {
  background-color: #23272f;
}

.ant-tabs-tabpane .ant-tabs,
.ant-tabs .ant-tabs-left-content {
  height: 100%;
  overflow: auto;
}
