@import url("./antOW.css");

/******************************** Common Styles ********************************/

.bold {
  font-weight: bold;
  color: rgb(255, 255, 255, 0.8);
}

.margin-top-9 {
  margin-top: 9px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/******************************** Layout Styles ********************************/

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  background-color: #23272f;
  color: #cccccc;
}

#app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 1fr;
}

.Body {
  display: grid;
  grid-template-columns: 0.6fr 3.4fr;
  overflow: hidden;
}

.Content {
  overflow: auto;
  position: relative;
}

.Tabs {
  width: 100%;
  height: calc(100% - 300px);
  background-image: url(../../../../static/logo.png);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-color: rgb(35, 39, 47, 0.97);
  background-blend-mode: darken;
  background-position: center;
}

/******************************** Scroll bars ********************************/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 3px solid #23272f;
  background: #363d49;
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background: #23272f;
}

::-webkit-scrollbar-thumb:vertical:active {
  border-radius: 0;
  border-left-width: 0;
  border-right-width: 0;
}

::-webkit-scrollbar-thumb:horizontal:active {
  border-radius: 0;
  border-top-width: 0;
  border-bottom-width: 0;
}

/******************************** File Tree Styles ********************************/

.FileTreeContainer {
  background-color: #21252b;
  border-right: 1px solid #1a1d23;
  grid-template-rows: 40px 1fr 40px 1fr;
  display: grid;
  overflow: auto;
}

.FileTree {
  overflow: auto;
}

.Title {
  padding: 2px 15px;
  border-bottom: 1px solid #1a1d23;
  background-color: #292e38;
  line-height: 35px;
  position: relative;
}

.Title .Icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
  margin-right: 10px;
  font-weight: bold;
}

.Title .Icon a {
  color: #ffca18;
}

/******************************** Header ********************************/

.Header {
  border-bottom: 1px solid #1a1d23;
  display: flex;
  align-items: center;
}

.header--left,
.header--right {
  flex: 1;
}

.IconsMenu {
  font-size: 30px;
}

.IconsMenu li {
  display: inline-block;
  margin: 0 15px;
}

.IconsMenu a {
  color: rgb(255, 255, 255, 0.85);
}

.IconsMenu a:hover {
  color: rgb(255, 255, 255);
}

/******************************** Editor ********************************/

/******************************** Nerd Icons ********************************/

.nf {
  padding-right: 5px;
}

.nf-dev-techcrunch {
  color: #ff5364;
  font-size: 20px;
  /* line-height: 24px; */
}

.nf-custom-folder,
.nf-oct-primitive_dot {
  color: #ffca18;
  /* #cbcb41; */
}

.nf-oct-primitive_dot {
  color: #ffca18;
  padding: 0 5px;
  /* #cbcb41; */
}

/******************************** Settings ********************************/

.Settings {
  margin: 20px 0;
  height: 100%;
}

.Settings .ant-tabs-nav {
  font-size: 16px;
}

.Settings .ant-input[type="number"] {
  width: 75px;
}

.Settings .ant-input[type="text"] {
  width: 300px;
}

.settings-list li {
  margin-bottom: 30px;
}

/******************************** Log ********************************/

.Log {
  display: grid;
  grid-template-rows: 40px 260px;
  overflow: auto;
  position: absolute;
  bottom: 0em;
  width: 100%;
}

#log {
  white-space: pre-wrap;
  word-break: break-all;
  padding: 15px;
  margin: 0;
  background-color: #111b26;
}
